{% extends 'primeraApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block busqueda %}{% endblock busqueda %}
{% block dashboard %}{% endblock dashboard %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 26rem;">
            <img src="{% static 'images/iniciosesion.png' %}"
                 alt="imagen del formulario de recuperacion"
                 class="card-img-top" width="200" height="300">

            <div class="card-body">
                <h5 class="text-center mb-3">Ingrese su Nueva Contraseña</h5>

                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-regular fa-circle-check"></i> Confirmar
                        </button>

                        <a class="btn btn-danger" href="{% url 'password_reset_done' %}">
                            <i class="fa-solid fa-arrow-rotate-left"></i> Volver atrás
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock contenido %}