{% extends 'primeraApp/base.html' %}
{% load static %}

{% block busqueda %}{% endblock busqueda %}
{% block dashboard %}{% endblock dashboard %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card text-center" style="width: 26rem;">

            <img src="{% static 'images/recupera.png' %}"
                 class="card-img-top" height="200">

            <div class="card-body">
                <h5 class="mb-3">Correo enviado 📩</h5>

                <p>
                    Si el correo ingresado está registrado,
                    te enviamos un enlace para recuperar tu contraseña.
                </p>

                <a href="{% url 'login' %}" class="btn btn-primary mt-3">
                    Volver al login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
