{% extends 'primeraApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block busqueda %}
{% endblock busqueda %}
{% block dashboard %}
{% endblock dashboard %}

    
{% block contenido %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card" style="width: 26rem;">

            <img src="{% static 'images/recupera.png' %}"
                 class="card-img-top" height="200">

            <div class="card-body">
                <h5 class="text-center mb-3">Recuperar contraseña</h5>

                <form method="post">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-info" type="submit">
                            <i class="fa-regular fa-paper-plane"></i>
                            Enviar enlace
                        </button>

                        <a href="{% url 'login' %}" class="btn btn-danger">
                            Volver atrás
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}