{% extends 'primeraApp/base.html' %}
{% block busqueda %}
{% endblock busqueda %}
{% block dashboard %}
{% endblock dashboard %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">

            <h5>Ingresa el código de verificación</h5>

            <!-- Código -->
            <input type="text" id="codigo" name="codigo" class="form-control text-center fs-4 mt-3" maxlength="5"
                placeholder="_ _ _ _ _" oninput="this.value=this.value.replace(/[^0-9]/g,'')">

            <!-- Contador -->
            <p class="mt-3 text-danger">
                Tiempo restante: <span id="timer">02:00</span>
            </p>

            <button type="submit" class="btn btn-info mt-2" id="btnVerificar"><i class="fa-solid fa-check-double"></i>
                Verificar código
            </button>

            <a class="btn btn-danger" href="{% url 'recuperar_password' %}">Volver atras</a>

            <p id="mensaje" class="mt-3"></p>

        </div>
    </div>
</div>
{% endblock contenido %}